# Entornos virtuales
venv/
env/
.env

# Caché de Python y herramientas de testing
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Configuración de editores (IDEs)
.vscode/
.idea/
*.swp

# Archivos ocultos del sistema operativo
.DS_Store
Thumbs.db